body {
  margin: 0;
}

.header {
  background: #1F2937;
  padding: 6px 180px;
  display: flex;
  justify-content: space-between;
}

.header p {
  color: #F9FAF8;
  font-size: 24px;
  align-items: center;
}

.header ul {
  list-style: none;
  margin: 0 12px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header ul,
.left-side p {
  color: #d3d3d3;
  font-size: 18px;
  font-weight: normal;
}

.hero {
  background: #1F2937;
  display: flex;
  padding: 40px 0;
}

.left-side {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  flex: 50%;
  padding-left: 180px;
}

.left-side p {
  margin: 0;
}

.sign-up {
  border: 0px;
  background-color: #3882f6;
  border-radius: 8px;
  color: white;
  padding: 8px 32px;
  font-size: 16px;
}

.right-side {
  flex: 50%;
  padding-right: 180px;
}